$bg-color-octagon:  pink;
$color-gallery-approx: #eee;
$width-octagon: 100px;
$height-octagon: 100px;

.octagon {
	width: $width-octagon;
	height: $height-octagon;
	background: $bg-color-octagon;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-bottom: 29px solid $bg-color-octagon;
		border-left: 29px solid $color-gallery-approx;
		border-right: 29px solid $color-gallery-approx;
		width: 42px;
		height: 0;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		border-top: 29px solid $bg-color-octagon;
		border-left: 29px solid $color-gallery-approx;
		border-right: 29px solid $color-gallery-approx;
		width: 42px;
		height: 0;
	}
}
