$bg-color-parallelogram:  pink;
$width-parallelogram: 180px;
$height-parallelogram: 100px;

.parallelogram {
	width: $width-parallelogram;
	height: $height-parallelogram;
  background: $bg-color-parallelogram;
  transform: skew(20deg);
}
