.container
	.row
		.geometry-wrap
      h3.text-sm.text-gray.text-center Square form
      .square-form
        .row
          .square
          .rectangle
        .row
          .trapezoid
          .parallelogram
      h3.text-sm.text-gray.text-center Polygon form
      .polygon-form
          .pentagon
          .hexagon
          .octagon
      h3.text-sm.text-gray.text-center Triangle form
      .triangle-form-wrap
        .triangle-form-angle
          .triangle-topleft
          .triangle-topright
          .triangle-bottomleft
          .triangle-bottomright
        .triangle-form-tailspin
          .triangle-down
          .triangle-up
      h3.text-sm.text-gray.text-center Circle form
      .circle-form
        .circle
        .oval


