.container
	.row
		.col-xs-4.col-md-4.col-lg-4
			h3.text-sm.text-gray Square form
			.square
			.rectangle
			.trapezoid
			.parallelogram
			.pentagon
			.hexagon
			.octagon
		.col-xs-4.col-md-4.col-lg-4
			h3.text-sm.text-gray Circle form
			.circle
			.oval
		.col-xs-4.col-md-4.col-lg-4
			h3.text-sm.text-gray Triangle form
			.triangle-topleft
			.triangle-topright
			.triangle-bottomright
			.triangle-bottomleft
			.triangle-up
			.triangle-down
