.container
	.row
		h3 Tooltips
			span(data-tooltip='Top tooltipe', data-position='top').text-md Top
			span(data-tooltip='Bottom tooltipe', data-position='bottom').text-md Bottom
			span(data-tooltip='Right tooltipe', data-position='right').text-md Right
			span(data-tooltip='Left tooltipe', data-position='left').text-md Left

