//colors
$red: red;
$color_gallery_approx: #eee;

.octagon {
	width: 100px;
	height: 100px;
	background: $red;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-bottom: 29px solid $red;
		border-left: 29px solid $color_gallery_approx;
		border-right: 29px solid $color_gallery_approx;
		width: 42px;
		height: 0;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		border-top: 29px solid $red;
		border-left: 29px solid $color_gallery_approx;
		border-right: 29px solid $color_gallery_approx;
		width: 42px;
		height: 0;
	}
}
