footer.fixed_footer
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .content
      h3.text-sm.text-center This sticking footer comes complete without any additional styles
      //- .container-md
      //-   .triangle-down
