/*
 * Main
 *
*/
@import 'parts/default-main';
@import 'parts/block_1';
@import 'parts/block_2';
@import 'parts/block_3';
@import 'parts/block_4';


main {
  // for sticky footer
  .content{
    width: 100%;
    margin: auto;
    margin-bottom: 550px; /* Same height as footer */
    padding: 100px 0;
  }
}

