// About
//- section#about
//- .container
//- 	.row
//- 	.col-lg-12.text-center
//- 		h2.text-medium.text-success About
//- 		h3.text-small Lorem ipsum dolor sit amet consectetur.
//- 	.row
//- 	.col-lg-12
ul.timeline
li
	.timeline-image
	images.rounded(src="images/about/1.jpg" alt="")
	.timeline-panel
	.timeline-heading
		h4 2009-2011
		h4.text-medium Our Humble Beginnings
	.timeline-body
		p.text-small.text-gray
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
li.timeline-inverted
	.timeline-image
	images.rounded.images-fluid(src="images/about/2.jpg" alt="")
	.timeline-panel
	.timeline-heading
		h4 March 2011
		h4.text-medium An Agency is Born
	.timeline-body
		p.text-small.text-gray
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
li
	.timeline-image
	images.rounded(src="images/about/3.jpg" alt="")
	.timeline-panel
	.timeline-heading
		h4 December 2012
		h4.text-medium Transition to Full Service
	.timeline-body
		p.text-small.text-gray
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
li.timeline-inverted
	images.rounded(src="images/about/4.jpg" alt="")
	.timeline-panel
	.timeline-heading
		h4 July 2014
		h4.text-medium Phase Two Expansion
	.timeline-body
		p.text-small.text-gray
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
li.timeline-inverted
	.timeline-image
	// Конец истории
	h4.text-center
		| Be Part
		br
		| Of Our
		br
		| Story!




