section#about
  .container
    .row
      .col-lg-12.text-center
        h2.text-md.text-success About
        h3.text-sm Introductory speech before the beginning of your story
    .row
      .col-lg-12.col-md-12.col-xs-12.col-sm-12
        // Start the block of timeline history
        ul.timeline
          // Start the block of timeline history
          li
            // Start the image block in part of timeline history
            .timeline-image
              img.rounded(src='images/1.jpg', alt='')
            // End the image block in part of timeline history
            // Start the text block in part  of timeline history
            .timeline-panel
              .timeline-heading
                h4 2009-2011
                h4.text-md Our Humble Beginnings
              .timeline-body
                p.text-small.text-gray
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
            // End the text block in part  of timeline history
          // Start the block in part of timeline history
          li.timeline-inverted
            // Start the image block in part of timeline history
            .timeline-image
              img.rounded.img-fluid(src='images/2.jpg', alt='')
            // End the image block in part of timeline history
            // Start the text block in part of timeline history
            .timeline-panel
              .timeline-heading
                h4 March 2011
                h4.text-md An Agency is Born
              .timeline-body
                p.text-small.text-gray
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
            // End the text block in part of timeline history
          // Start the block in part of timeline history
          li
            // Start the image block in part of timeline history
            .timeline-image
              img.rounded(src='images/3.jpg', alt='')
            // End the image block in part of timeline history
            // Start the text block in part of timeline history
            .timeline-panel
              .timeline-heading
                h4 December 2012
                h4.text-md Transition to Full Service
              .timeline-body
                p.text-small.text-gray
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
            // End the text block in part  of timeline history
          // Start the block in part of timeline history
          li.timeline-inverted
            // Start the image block in part of timeline history
            .timeline-image
              img.rounded(src='images/4.jpg', alt='')
            // End the image block in part of timeline history
            // Start the text block in part of timeline history
            .timeline-panel
              .timeline-heading
                h4 July 2014
                h4.text-md Phase Two Expansion
              .timeline-body
                p.text-small.text-gray
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
            // End the text block in part  of timeline history
          // Start the block final part of timeline history
          li.timeline-inverted
            .timeline-image
              img.rounded(src='images/4.jpg', alt='')
              // End timeline history
              h4.text-center
                | Be Part
                br
                | Of Our
                br
                | Story!
