include ./templates/head
body
	header
		include header/header
	//- main
	main
		//- Navigation brow
		include ./templates/nav
		.content
			//- сюда ВСТАВЛЯЮТЬСЯ БЛОКИ
			//- Default basic elements
			include main/default_elements/text
			include main/default_elements/buttons
			include main/default_elements/typography_sizes
			include main/default_elements/forms
			include main/default_elements/tables
			include main/default_elements/tabs
			include main/default_elements/tags
			include main/default_elements/pagination
			include main/default_elements/badges
			include main/default_elements/raiting
			include main/default_elements/images
			include main/default_elements/aligners
			include main/default_elements/loaders
			include main/default_elements/colors
			include main/default_elements/full_width_bars
			include main/default_elements/message_bars
			include main/default_elements/containers
			include main/default_elements/borders
			//- Custom elements
			//- include main/custom_elements/geometry
			//- include main/custom_elements/tooltipe
			//- include main/custom_elements/citate
		//- include main/custom_elements/timeline
			//- include main/default_elements/js_no_touch
			//- КОНЕЦ ГЛАВНОГО МЕНЮ
	aside
		aside

	//- footer
	footer
		include footer/footer
