include ./templates/head
body
	header
		include header/header
	//- main
	main
		//- .container
		.content
			//- сюда ВСТАВЛЯЮТЬСЯ БЛОКИ
			//- Default basic elements
			include main/default_elements/text
			include main/default_elements/buttons
			include main/default_elements/typography_sizes
			include main/default_elements/forms
			include main/default_elements/tables
			include main/default_elements/tabs
			include main/default_elements/tags
			include main/default_elements/pagination
			include main/default_elements/badges
			include main/default_elements/raiting
			include main/default_elements/images
			include main/default_elements/aligners
			include main/default_elements/loaders
			include main/default_elements/colors
			include main/default_elements/full_width_bars
			include main/default_elements/message_bars
			include main/default_elements/containers
			include main/default_elements/borders
			// Custom elements
			//- include main/custom_elements/citate

			//- include main/default_elements/js_no_touch
			//- КОНЕЦ ГЛАВНОГО МЕНЮ
			//- p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eum aspernatur quibusdam ad provident molestiae adipisci numquam vitae molestias quidem vero nostrum voluptates harum! Vero veniam adipisci minima corporis quidem sunt omnis illum similique consectetur enim atque autem distinctio quas deserunt ex amet itaque ipsa cumque sed asperiores doloremque aliquid praesentium nihil tenetur cum aliquam.
			//- P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ratione blanditiis vero rem cupiditate magni praesentium veniam quibusdam dicta recusandae? Fugit fuga debitis inventore possimus distinctio perferendis.
			//- h2 Keep scrolling..
			//- p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eum aspernatur quibusdam ad provident molestiae adipisci numquam vitae molestias quidem vero nostrum voluptates harum! Vero veniam adipisci minima corporis quidem sunt omnis illum similique consectetur enim atque autem distinctio quas deserunt ex amet itaque ipsa cumque sed asperiores doloremque aliquid praesentium nihil tenetur cum aliquam.
			//- P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ratione blanditiis vero rem cupiditate magni praesentium veniam quibusdam dicta recusandae? Fugit fuga debitis inventore possimus distinctio perferendis.
			//- h2 Keep scrolling..
			//- p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eum aspernatur quibusdam ad provident molestiae adipisci numquam vitae molestias quidem vero nostrum voluptates harum! Vero veniam adipisci minima corporis quidem sunt omnis illum similique consectetur enim atque autem distinctio quas deserunt ex amet itaque ipsa cumque sed asperiores doloremque aliquid praesentium nihil tenetur cum aliquam.
			//- P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ratione blanditiis vero rem cupiditate magni praesentium veniam quibusdam dicta recusandae? Fugit fuga debitis inventore possimus distinctio perferendis.
			//- h2 Keep scrolling..
			//- p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eum aspernatur quibusdam ad provident molestiae adipisci numquam vitae molestias quidem vero nostrum voluptates harum! Vero veniam adipisci minima corporis quidem sunt omnis illum similique consectetur enim atque autem distinctio quas deserunt ex amet itaque ipsa cumque sed asperiores doloremque aliquid praesentium nihil tenetur cum aliquam.
			//- P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ratione blanditiis vero rem cupiditate magni praesentium veniam quibusdam dicta recusandae? Fugit fuga debitis inventore possimus distinctio perferendis.
	aside
		aside

	//- footer
	footer
		include footer/footer
