include ../mixins


li
  .timeline-image
    img.rounded(src='images/1.jpg', alt='')
  .timeline-panel
    section.section
      .timeline-heading
        h4.text-lg Paginator
        h4.text-md Default
      .timeline-body
        ul.paginator-list
          li.paginator-list-item
            a.paginator-list-link(href='#')
              i.fa.fa-angle-left
              +tooltipSmA('Go to previous page', 'bottom', 'Prev')
          li.paginator-list-item
            +tooltipPaginator('Go to page № 1', 'bottom', '1')
          li.paginator-list-item
            +tooltipPaginator('Go to page № 2', 'bottom', '2')
          li.paginator-list-item
            +tooltipPaginator('Go to page № 3', 'bottom', '3')
          li.paginator-list-item
            a.paginator-list-link(href='#')
              i.fa.fa-angle-right
              +tooltipSmA('Go to next page', 'bottom', 'Next')
    section.section
      .timeline-heading
        h4.text-md Compact
      .timeline-body
        ul.paginator-list.paginator-compact
          li.paginator-list-item
            a.paginator-list-link(href='#')
              i.fa.fa-angle-left
              +tooltipSmA('Go to previous page', 'bottom', 'Prev')
            li.paginator-list-item
              +tooltipPaginator('Go to page № 1', 'bottom', '1')
            li.paginator-list-item
            +tooltipPaginator('Go to page № 2', 'bottom', '2')
            li.paginator-list-item
            +tooltipPaginator('Go to page № 3', 'bottom', '3')
            li.paginator-list-item
              a.paginator-list-link(href='#')
                i.fa.fa-angle-right
                +tooltipSmA('Go to next page', 'bottom', 'Next')
        section.section
          +goToNavigation
