//colors
$red: red;

.oval {
	width: 200px;
	height: 100px;
	background: $red;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 100px / 50px;
}
