$bg-color-trapezoid:  pink;
$width-trapezoid: 100px;
$height-trapezoid: 100px;

.trapezoid {
	border-bottom: $width-trapezoid solid $bg-color-trapezoid;
	border-left: $height-trapezoid solid transparent;
	border-right: $height-trapezoid solid transparent;
	height: 0;
	width: $width-trapezoid;
}
