include ../mixins


li.timeline-inverted
  .timeline-image
    img.rounded.img-fluid(src='images/2.jpg', alt='')
  .timeline-panel
    section.section
      .timeline-heading
        h4.text-lg Rating
        h4.text-md Rating small
        .timeline-body
          section.section
            .rating-circle.circle-small.rating-color-1
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 1', 'bottom', '1')
            .rating-circle.circle-small.rating-color-2
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 2', 'bottom', '2')
            .rating-circle.circle-small.rating-color-3
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 3', 'bottom', '3')
            .rating-circle.circle-small.rating-color-4
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 4', 'bottom', '4')
            .rating-circle.circle-small.rating-color-5
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 5', 'bottom', '5')
            .rating-circle.circle-small.rating-color-6
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 6', 'bottom', '6')
            .rating-circle.circle-small.rating-color-7
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 7', 'bottom', '7')
            .rating-circle.circle-small.rating-color-8
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 8', 'bottom', '8')
            .rating-circle.circle-small.rating-color-9
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 9', 'bottom', '9')
            .rating-circle.circle-small.rating-color-10
              .circle
                .circle-mask.circle-full
                  .circle-fill
                .circle-mask.half
                  .circle-fill
              .circle-inset
                +tooltipRaiting('Raiting small № 10', 'bottom', '10')
      section.section
        .timeline-heading
          h4.text-md Rating big
        .timeline-body
          .rating-circle.rating-color-1
            .circle
              .circle-mask.circle-full
                .circle-fill
              .circle-mask.half
                .circle-fill
            .circle-inset
              span.circle-rating-number 1
          .rating-circle.rating-color-5
            .circle
              .circle-mask.circle-full
                .circle-fill
              .circle-mask.half
                .circle-fill
            .circle-inset
              span.circle-rating-number 5
          .rating-circle.rating-color-10
            .circle
              .circle-mask.circle-full
                .circle-fill
              .circle-mask.half
                .circle-fill
            .circle-inset
              span.circle-rating-number 10
        section.section
          +goToNavigation
