/*
  Colors components
*/
// Tags
$tag-text-color:        $text-body;
$tag-bg-color:          $brand-light;
$tag-bullet:            $color-bg-body;

// Buttons
$button-bg-color:       #64829f; // default color for buttons
$button-text-color:     $text-body; // default color for buttons
$button-border-color:   $color-bg-body;
$button-border-radius:  2em;

// Forms
$form-bg-color:               $brand-light;
$form-text-color:             $text-body;

// Loading spinner
$loading-spinner-bg:          $white;

// Tables
$table-bg-color:        $brand-light;
$table-header-bg-color: $color-bg-body;
$table-text-color:      $text-body;

/*
  IMPORT variables-elements
*/
//       Bootrap grid system config
@import '../../module/variables/bootsrap-config';
//       Typography
@import '../../module/variables/typography';
//       Social colors\TEXT-color map
@import '../../module/variables/social_and_text_color-map';
//       Button sizes
@import '../../module/variables/button-sizes';
//       Div-containers
@import '../../module/variables/div-containers';
//       Paginator
@import '../../module/variables/paginator';
//       Raiting
@import '../../module/variables/raiting';
//       Badges
@import '../../module/variables/badges';
