li.timeline-inverted
  .timeline-image
    img.rounded.img-fluid(src='images/2.jpg', alt='')
  .timeline-panel
    section.section
      .timeline-heading
        h3.text-md Tooltips
        h3.text-md Tooltip-top
      .timeline-body
        span(data-tooltip='Top tooltipe', data-position='top').text-md Lorem ipsum dolor sit amet. ( top-Tooltip ).
    section.section
      .timeline-heading
        h4.text-md Tooltip-right
      .timeline-body
        span(data-tooltip='Right tooltipe', data-position='right').text-md Lorem ipsum dolor sit amet. ( right-Tooltip ).
    section.section
      .timeline-heading
        h4.text-md Tooltip-left
      .timeline-body
        span(data-tooltip='Left tooltipe', data-position='left').text-md Lorem ipsum dolor sit amet. ( left-Tooltip ).
    section.section
      .timeline-heading
        h4.text-md Tooltip-bottom
      .timeline-body
        span(data-tooltip='Bottom tooltipe', data-position='bottom').text-md Lorem ipsum dolor sit amet. ( bottom-Tooltip ).
