.container
  section.section
    h3.text-md.text-center.text-gray Tooltips
    .row
      .col-xs-2.col-md-2
        span(data-tooltip='Top tooltipe', data-position='top').text-md Top
      .col-xs-2.col-md-2
        span(data-tooltip='Right tooltipe', data-position='right').text-md Right
      .col-xs-2.col-md-2
        span(data-tooltip='Left tooltipe', data-position='left').text-md Left
      .col-xs-2.col-md-2
        span(data-tooltip='Bottom tooltipe', data-position='bottom').text-md Bottom
