include ../mixins

li
  .timeline-image
    img.rounded(src='images/1.jpg', alt='')
  .timeline-panel
    section.section
      .timeline-heading
        h4.text-lg Tabs
      .timeline-body
        .tabs
          +tooltipTabDefault('Tab № ', 'bottom', 'Tab 1')
          +tooltipTabActive('Tab № 2', 'bottom', 'Tab 2')
          +tooltipTabDefault('Tab № 3', 'bottom', 'Tab 3')
        section.section
          +goToNavigation

    //
      <div class="c-tab-content">
      Content tab 1
      </div>
      <div class="c-tab-content selected">
      Content tab 2
      </div>
