include layout/header/templates/head
body
  // Start header block
  header
    include layout/header/header
  // End header block
  // Start main block
  main
    // Navigation brow
    include layout/header/templates/nav
    .content
      // Start typography block
      include module/typography/text
      // End typography block
      // Start buttons block
      include module/buttons/buttons
      // End buttons block
      // Start typography-sizes block
      include module/typography/typography_sizes
      // End typography-sizes block
      // Start forms block
      include module/form/forms
      // End forms block
      // Start tables block
      include module/tables/tables
      // End tables block
      // Start tabs block
      include module/tabs/tabs
      // End tabs block
      // Start tags block
      include module/tags/tags
      // End tags block
      // Start paginator block
      include module/paginator/paginator
      // End paginator block
      // Start badges block
      include module/badges/badges
      // End badges block
      // Start raiting block
      include module/rating/rating-circle
      // End raiting block
      // Start images block
      include module/images/images
      // End images block
      // Start aligners block
      include layout/aligners
      // End aligners block
      // Start loaders block
      include module/loaders
      // End loaders block
      // Start colors block
      include color/colors
      // End colors block
      // Start full-width bar block
      include layout/full_width_bars
      // End full-width-bar block
      // Start message-bar block
      include module/message_bars/message_bars
      // End block
      // Start containers block
      include layout/containers
      // End containers block
      // Start borders block
      include module/borders/borders
      // End borders block
      // Start geometry block
      //- include module/geometry/geometry
      // End geometry block
      // Start tooltipes block
      include module/tooltipe/tooltipe
      // End tooltipes block
      // Start citates block
      //- include module/citate/citate
      // End block
      // Start timeline block
      include module/timeline/timeline
      // End timeline block
      // Start js-no-touch block
      include module/js_no_touch
      // End js-no-touch block
      // End main block
      // Start aside block
  aside
    aside
  // End aside block
  // Start footer block
  footer
    include layout/footer/footer
  // End footer block
