include module/mixins


//- include ../mixins
//- +tooltipSmAnchorA('', 'top', '', '#')
//- +goToNavigation





include layout/header/templates/head
body
  // Start header block
  header
    include layout/header/header
  // End header block
  // Start main block
  main
    // Navigation brow
    include layout/header/templates/nav
    include module/mixins
    .content
      // Start typography block
      include module/typography/text
      // End typography block
      // Start forms block
      include module/form/forms
      // End forms block

      // Start tables block
      include module/tables/tables
      // End tables block
      // Start images block
      include module/images/images
      // End images block
      // Start aligners block
      include layout/aligners
      // End aligners block
      // Start loaders block
      include module/loaders
      // End loaders block
      // Start full-width bar block
      include layout/full_width_bars
      // End full-width-bar block

      // Start containers block
      include layout/containers
      // End containers block
      // Start forms block
      include module/inputs/input
      // End forms block
      section#about
        .col-lg-12.text-center
          h2.text-md.text-success About
        .col-lg-12.col-md-12.col-xs-12.col-sm-12
          ul.timeline
            // Start buttons block
            include module/buttons/buttons
            // End buttons block
            // Start typography-sizes block
            include module/typography/typography_sizes
            // End typography-sizes block
          ul.timeline
            // Start tabs block
            include module/tabs/tabs
            // End tabs block
            // Start tags block
            include module/tags/tags
            // End tags block
          ul.timeline
            // Start paginator block
            include module/paginator/paginator
            // End paginator block
            // Start raiting block
            include module/rating/rating-circle
            // End raiting block
            li.timeline
              // Start badges block
              include module/badges/badges
              // End badges block
              // Start colors block
              include color/colors
              // End colors block
            li.timeline
              // Start borders block
              include module/borders/borders
              // End borders block
            // Start geometry block
            include module/geometry/geometry
            // End geometry block
            // Start tooltipes block
            //- include module/tooltipe/tooltipe
            // End tooltipes block
            // End timeline history
            li.timeline(style="margin-bottom: 70px;")
              .timeline-image
                img.rounded.img-fluid(src='images/2.jpg', alt='')
      // Start message-bar block
      include module/message_bars/message_bars
      // End block

      // Start citates block
      //- include module/citate/citate
      // End block
      // Start js-no-touch block
      include module/js_no_touch
      // End js-no-touch block
      // End main block
  // Start aside block
  aside
    aside
  // End aside block
  // Start footer block
  footer
    include layout/footer/footer
  // End footer block
